# Ignore everything in this directory
/*
# Ignore special backup file
*~
*-
# Ignore special log files
/.vim/.netrwhist
/.vim/*tags
/.vim/bundle/
# Except this file
# git config
!.gitignore
# bash config
!.bash_aliases
!.adam_bashrc
# vim config
!.vim/
!.vimrc
!.gvimrc
