# Ignore everything in this directory
/*
# Ignore special backup file
*~
*-
# Ignore special log file
*.log
.vim/.netrwhist
# Ignore special files
/.gtk-bookmarks
/.subversion/auth/
/.vim/systags
# Except this file
!.gitignore
!.bash_aliases
!.bash_logout
!.bashrc
!.profile
!.subversion/
!.vim/
!.vimrc
!.gvimrc
!.keysnail.js
!.gitconfig
!.dmrc

#!.config/
#!.gconf/
#!.gconfd/
#!.gnome2/
#!.local/

#.dmrc => Gnome per user language encoding configuration using .dmrc file
#.mozilla need git control ???
