snippet split_field 拆分以 ‘,’ 分隔开来的多个参数
	char *p = strtok(m_InData.${1:}, ",");
	while (p) {
		${2:}

		p = strtok(NULL, ",");
	}
#end split_field ------
snippet split_field 直接代码里面硬绑定in条件，以 ‘,’ 分隔开来的多个参数
	//绑定in条件,acc_nbrs是由","分隔开的多个参数
	char ${1:}[4096] = {0};
	char *p = strtok(m_InData.${2:}, ",");
	while (p) {
		strcat($1, p);
		strcat($1,"','");
		p = strtok(NULL,",");
	}
	$1[strlen($1) - 3] = '\0';
#end split_field ------
