# added by adam 2016-03-07
snippet #!
	//
	// \file `expand('%:t')`
	// \brief ${1}
	// 
	// \author `g:snips_author` (`g:snips_authorref`), `g:snips_email` 
	// \date `system("date '+%Y-%m-%d %H:%M:%S'")`
	//
	${2}
