
[Desktop Entry]
Type=Application
Exec=dropbox
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en]=adam_dropbox
Name=adam_dropbox
Comment[en]=dropbox
Comment=dropbox
