
[Desktop Entry]
Type=Application
Exec=evolution
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en]=adam_evolution
Name=adam_evolution
Comment[en]=evolution
Comment=evolution
