
[Desktop Entry]
Type=Application
Exec=indicator-virtualbox
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en]=adam_indicator-virtualbox
Name=adam_indicator-virtualbox
Comment[en]=indicator-virtualbox
Comment=indicator-virtualbox
